body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
    padding-bottom: 10px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
}

hr{
    
    border-style: dotted none none;
    width: 5%;
    border-width: 7px;
    border-color: #EAF6F6;
}

p{
    line-height: 2;
}

a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

a:hover{
    color: #EAF6F6;
}

.profile-img{
    width: 15%;
}

.code-img{
     width:25%;
    float: left;
    margin-right: 30px;
}

.computer-img{
    float: right;
    width:25%;
    margin-left: 30px;
}

.skill-row{
    width: 55%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.middle-container{
    color: #40514E;
    margin: 100PX 0px;
}

.top-container {
    background-color: #aed1e1;
    position: relative;
    padding-top: 45px ;
}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.content-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn{
    background-color: #11999E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

.btn:hover{
    background-color: #30e3cb;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 30px;
    text-decoration:none ;
    margin-top: 1px;  
}

.footer-link-1{
    text-decoration: none;
    margin: auto 10px auto auto; 
}

.footer-link-2{
    text-decoration: none;
    margin: auto 10px auto 10px; 
}

.footer-link-3{
    text-decoration: none; 
    margin: auto auto auto 10px;
}


